

body {
	padding-top: 54px;
    font-family: 'EB Garamond', serif;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
}

.medium-form {
    max-width: 300px;
    margin: auto
}

.redtext {
    color: red;
}