{% extends "layout.html" %}
{% block body %}

{% if crypto_objects %}
	<div class="container">
	<h3>Welcome, here are the stats for your crypto currencies.</h3>
	<div class="row">
	{% for crypto_object in crypto_objects %}
			<div class="col">
			<h4>
				{{crypto_object.name}} ({{crypto_object.ticker}})
			</h4>
			<p>
				Current Price: {{crypto_object.price}}<br>
				24 Hour High: {{crypto_object.high_24hr}}<br>
				24 Hour Low: {{crypto_object.low_24hr}}<br>
				24 Hour Volume: {{crypto_object.volume_24hr}}<br>
			</p>
			</div>
	{% endfor %}
	</div>
	</div>
{% endif %}

{% endblock %}
