{% extends "layout.html" %}

{% block body %}
{% block content %}
<div class="medium-form">
    <h1 class="display-3">Log In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username(class_="form-control", size=32) }}
            {% for error in form.username.errors %}
            <span class="redtext">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password(class_="form-control",size=32) }}
            {% for error in form.password.errors %}
            <span class="redtext">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-check">{{ form.remember_me(class_="form-check-input") }}
        {{ form.remember_me.label(class_="form-check-label") }}</div>
        <div>{{ form.submit(class_="btn btn-secondary") }}</div>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}
{% endblock %}